@tailwind base;
@tailwind components;
@tailwind utilities;

/* for leaflet move to tailwind later  */
/* .leaflet-container {
  width: 100%;
  height: 60vh;
  } */
  
  .leaflet-container {
    width: 100vw;
    height: 100vh;
    }

  .leaflet-control-attribution.leaflet-control {
    display: none;
}